@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Righteous&family=Roboto:wght@300&family=Signika:wght@700&family=Vollkorn:wght@700;900&display=swap');

.sec2 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    /*background-color: #3e5dad;*/
  }
  .centro {
    width: 80%;
    margin: 2rem auto;
    height: 35rem;
    position: relative;
    top: 2rem;
    padding: 5px;
    /*background-color: #3e5dad;*/
  }
  
  .centro::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #dbf2fd;
    position: absolute;
    opacity: 0.5;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(62, 93, 173, 1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(62, 93, 173, 1);
    box-shadow: 10px 10px 16px 0px rgba(62, 93, 173, 1);
  }
  .con_trian2 {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*background-color: blueviolet;*/
  }
  /*Triangulo superior (en cel aumentar width)*/
  .trian2 {
    clip-path: polygon(100% 0, 0 0, 28% 39%);
    width: 45%;
    height: 45%;
    background: #3e5dad;
  }
  .con_trian3 {
    width: 80%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*color: aquamarine;*/
  }
  .trian3 {
    clip-path: polygon(64% 0, 100% 63%, 100% 100%, 0% 100%);
    width: 45%;
    height: 20%;
    background: #3e5dad;
    position: absolute;
    /*top: 3rem;*/
    right: 1.5rem;
    bottom: -2%;
  }
  .contenedor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 2px;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "izq sup sup sup sup sup"
      "izq tex tex tex tex der"
      "izq tex tex tex tex der"
      "izq tex tex tex tex der"
      "izq tex tex tex tex der"
      "izq inf inf inf inf inf";
      /*background-color: rgb(17, 235, 214);*/

      
  }
  .izq {
    width: 50%;
    height: 100%;
    grid-area: izq;
    display: flex;
    align-items: flex-end;
  }
  .izq .l1 {
    border-right: black solid;
    left: 0.3rem;
    position: absolute;
    height: 80%;
  }
  
  .izq .l2 {
    border-right: black solid;
    height: 60%;
    position: relative;
    left: 0.9rem;
  }
  .sup {
    width: 100%;
    grid-area: sup;
  }
  .sup .l1 {
    border-top: black solid;
    position: absolute;
    width: 80%;
    top: 0.2rem;
    right: 0rem;
  }
  .sup .l2 {
    border-top: black solid;
    position: absolute;
    top: 0.8rem;
    width: 70%;
    right: 0;
  }
  
  .tex {
    width: 90%;
    height: 80%;
    margin: 5%;
    margin-top: 10%;
    /* background-color: #3e5dad; */
    grid-area: tex;
    
    text-align: justify;
    color: #000;
    position: relative;
    font-family: 'Quicksand', serif;
    font-size: large;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-top: 10%;
    white-space: break-word;

    
  }

  .titulo{
    font-family: 'Righteous', cursive;
    width: 100%;
    font-size:xx-large;
    /* background-color: #3e5dad; */
    grid-area: tex;
    display: flex;
    justify-content: center;
    color: #000;
    position: relative;
    margin-bottom: 10%;
  }
  .der {
    width: 100%;
    grid-area: der;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 120%;
  }
  .der .l1 {
    border-right: black solid;
    position: relative;
    height: 90%;
  }
  .der .l2 {
    border-right: black solid;
    position: relative;
    right: 0.6rem;
    height: 70%;
  }
  .inf {
    width: 100%;
    grid-area: inf;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .inf .l1 {
    border-top: black solid;
    position: absolute;
    width: 80%;
    bottom: 0.3rem;
  }
  .inf .l2 {
    border-top: black solid;
    position: absolute;
    width: 70%;
    bottom: 0.9rem;
  }

  .avmas{
    display: none;
    font-size: medium;
  }

  @media screen and (max-width: 768px){
    .tex{
        padding-top: 5%;
        
    }

    .trian2{
      width: 60%;
      
      
    }

    .trian3{
      width: 60%;
      height: 10%;
      
    }

    .titulo{
      top: -20%;
    }

    .vmas{
      display: none;
    }

    .avmas{
      display:flex;
      font-size: medium;
      padding-bottom: 50px;
    }

    /*
    .contenedor{
      /*min-height: 1200px;
  }

    .sec2{
      /*min-height: 1300px;
    }
    .centro{
      height: 1190px;
    }
    */
  }
  